# OS artifacts
Thumbs.db
Desktop.ini
.DS_Store

# Temporary & Log files
*.log
*.tmp
temp/
backups/
.local/
*.reg

# Environment & Secrets
.env
.env.*
!.env.example

# IDE & Tooling
.vscode/
.idea/
*.swp
*.bak
.system_generated/
